@import 'styles/main.scss';

.text {
    color: rgb(3, 32, 181)
}

.movieWrap {
    display: flex;
    text-align: center;
    gap: 20px
}

.overview {
    margin-top: 20px;
    text-align: center;
}

.genres {
    display: flex;
    justify-content: center;

}

.genresItem+.genresItem {
    margin-left: 20px;

}

.genresItem {
    @extend .text;
}