@import 'styles/main.scss';

.cast {
    margin-top: 20px;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.castWrap {
    display: flex;
    flex-direction: column;

}

.castInfo {
    margin-top: auto;
}

.noFotoWrap {
    height: 100%;
    width: 280px;
}

.noFotoImg {

    object-fit: contain;
}