@import 'styles/main.scss';

.cast {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;


}

.castWrap {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 4);
    height: 475px;

}



.noFotoWrap {
    flex-grow: 1;
    flex: 1;

}

.noFotoImg {
    height: 100%;
    object-fit: cover;
    width: 280px;
}