@import 'styles/main.scss';

.reviews {

    width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.reviewsItem+.reviewsItem {
    margin-top: 10px;

}

.reviewsItemDescr {
    color: rgb(23, 1, 163);
}