@import 'styles/main.scss';

.trendingMovie {
    width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.trendingMovieTitle {
    display: block;
    text-align: center;
}

.trendingMovieItem {
    margin-top: 10px;
    font-size: 20px;
    display: block;

}

.trendingMovieLink {
    display: inline-block;
}